<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="doubts://Doubts/WebProgram/Authorized" method="post">
        <div style="height:60px;background-color:red;-webkit-app-region: drag;">
        </div>
        username:<input type="text" name="username" /><br />
        password:<input type="text" name="password" />
        <br />
        <input type="submit" value="登录" />
    </form>
  
</body>
</html>